html {
padding: 0;
border: 0;
border-top: 10px solid white;
margin: 0;
background-color: white;
background: url(images/shadow_borders.png) repeat-y center center;
}

body {
margin: 0 auto;
padding: 0;
border: 0;
width: 840px;
font-family: "Times New Roman", Times, serif;
color: black;
}

#titlebar {
background-color: black;
width: 840px;
padding: 0;
margin: 0;
border: 0;
}

#titlebar_blue {
background-color: #000042;
width: 840px;
padding: 0;
margin: 0;
border: 0;
}

#titlebar_redl {
background-color: #7c2230;
width: 840px;
padding: 0;
margin: 0;
border: 0;
}

#titlebar_redd {
background-color: #68142e;
width: 840px;
padding: 0;
margin: 0;
border: 0;
}

h1 {
width: 840px;
color: white;
padding: 7px 0 5px 180px;
margin: 0;
border: 0;
font-variant: small-caps;
font-weight: bold;
voice-family: "\"}\"";
voice-family: inherit;
width: 660px;
}

h2 {
width: 840px;
color: white;
font-size: 1em;
font-weight: normal;
padding: 0 0 7px 180px;
margin: 0;
border: 0;
voice-family: "\"}\"";
voice-family: inherit;
width: 660px;
}

#main {
float: right;
width: 660px;
border: 0;
margin: 0;
padding: 5px 20px 0 0;
voice-family: "\"}\"";
voice-family: inherit;
width: 640px;
}


pre {
border: 0;
padding: 0;
margin: 0;
}


#contactinfo {
width: 100%;
border: 1px solid gray;
border-collapse: collapse;
border-spacing: 0;
margin: 30px 0 30px 0;
padding: 0;
background-color: #e5e5e5;
}

#contactinfo td {
width: 50%;
border-spacing: 0;
margin: 0;
border: 0;
padding: 0.5em;
vertical-align: top;
}

#sidebar {
float: left;
padding: 0;
margin: 0 0 0 20px;
border: 0;
position: absolute;
top: 0;
width: 160px;
text-align: center;
voice-family: "\"}\"";
voice-family: inherit;
width: 140px;
}

#sidebar img {
border: 0;
padding: 0 0 10px 0;
margin: 0;
}

img.portrait {
padding: 0 0 100px 0;
border-bottom: 1px dashed gray;
}

.sidebar-link{
font-size: 32px;
line-height: 30px;
}